.*venv
.idea
llm-config
persist
.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
dist/
examples/
.sass-cache
CONTRIBUTING.md
bower.json
css/
gruntfile.js
ignores
js/
lib/
package-lock.json
package.json
plugin/
reveal.js-master/
test/
.travis.yml
index.html
.github/
.npmignore
gulpfile.js
