# for the advanced demos
beautifulsoup4==4.12.2
chromadb  # ==0.4.4 causes llm to downgrade to 0.4.1
langchain # ==0.0.249
lxml==4.9.3
openai==0.27.8
prompt_toolkit
tiktoken==0.4.0
unstructured==0.8.8
