/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Roboto&family=Saira+Condensed:wght@900&display=swap');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$blockMargin: 10px;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 40px;
$mainFont: 'Roboto', sans-serif;
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Saira Condensed', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingLineHeight: 1;
$headingTextTransform: uppercase;
$headingFontWeight: 900;
$codeFont: 'Fira Code', monospace;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.3em;
$heading2Size: 1.7em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.slide-background {
    filter: grayscale(50%) opacity(20%) blur(0);

    &.original {
        filter: none;
    }
    &.semi-filtered {
        filter: grayscale(60%) opacity(40%) blur(0);
    }
}

.reveal pre {
    &.small {
        font-size: 0.4em;
    }
    &.smaller {
        font-size: 0.3em;
    }
}

.reveal pre.stretch code {
    max-height: 100% !important;
}

.reveal pre code {
    background: white;
    max-height: 450px !important;
}

.reveal .slides>section,
.reveal .slides>section>section {
	padding: 0px 0px;
}

.reveal .slides {
    text-align: left;
}

.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}

.reveal ul {
  list-style-type: none !important; }

.reveal ul li:before {
    content: '»';
    font-size: 1.2em;
    font-weight: bold;
    margin-left: -36px;
    margin-right: 20px;
}

body:after {
  content: url(/images/logo.png);
  transform: scale(.1);
  position: fixed;
  bottom: -17em;
  left: -54em;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
